/* You can add global styles to this file, and also import other style files */
@import 'variables'; // Primero tus variables personalizadas

// Aquí ya puedes usar $custom-colors sin problema
.my-custom-button {
  background-color: map-get($custom-colors, "primary");
  color: white;
}


body {
  background-color: $body-background !important; // si usaste variable
  // O directamente sin variable:
  // background-color: #fbfcfc;
  margin: 0;
  padding: 0;
  font-family: sans-serif; // opcional
}


// Luego Bootstrap, para que tome tus $theme-colors
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "@ng-select/ng-select/themes/default.theme.css";
