
<div class="container mt-5">

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
            <i class="bi bi-pen-fill"></i>
            Registro inicial
        </div>
        <div class="card-body">
          <form class="row g-3 justify-content-center">
            <div class="col-md-6">
              <label for="inputState" class="form-label">Elige tu perfil:</label>
              <select id="inputState" class="form-select" (change)="cambioPerfil($event)">
                <option value="" selected disabled>Selecciona una opción</option>
                <option value="Estudiante">Estudiante</option>
                <option value="Profesional">Profesional</option>
                <option value="Empresa">Empresa</option>
                <option value="Escuela">Escuela</option>
              </select>
            </div>

            @if (esEstudiante) {
              <div class="row g-3 justify-content-center">
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Elige tu nivel académico actual:</label>
                  <ng-select [items]="nivelAcademicoOpciones"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Elige una opción..."
                              formControlName="perfilSeleccionado">
                  </ng-select>
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Elige tu carrera de interés:</label>
                  <ng-select [items]="carrerasOpciones"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Elige una opción..."
                              formControlName="perfilSeleccionado">
                  </ng-select>
                </div>
              </div>
            }


            <!-- <div class="col-md-6">
              <label for="inputState" class="form-label">Elige tu perfil:</label>
              <select id="inputState" class="form-select">
                <option selected>Estudiante</option>
                <option>Profesional</option>
                <option>Empresa</option>
                <option>Escuela</option>
              </select>
            </div> -->

            <div class="col-12">
              <button type="button" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-5">

    <div class="card">
        <div class="card-header">
            <i class="bi bi-pen-fill"></i>
            Registro inicial
        </div>
        <div class="card-body">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputState" class="form-label">Tu perfil:</label>
              <select id="inputState" class="form-select">
                <option selected>Estudiante</option>
                <option>Profesional</option>
                <option>Empresa</option>
                <option>Escuela</option>
              </select>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
        </div>
      </div>
</div> -->
